# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
backend/**/venv/
frontend/**/env_node/

# Database
*.sqlite3
*.db

# Frontend
node_modules/
dist/
www/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.vercel

# Local Netlify folder
.netlify
