<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Campos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar placeholder="Buscar campos..."></ion-searchbar>
  
  <ion-list>
    <ion-item *ngFor="let campo of campos" button detail>
      <ion-icon slot="start" name="grid" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ campo.nombre }}</h2>
        <p>{{ campo.ubicacion }}</p>
      </ion-label>
      <ion-badge slot="end" color="success">{{ campo.hectareas }} ha</ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>