<div class="popup-wrapper">
  <div class="popup-title">Crear Persona</div>

  <form [formGroup]="personaForm">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="stacked" formControlName="nombre" placeholder="Ej: Juan Pérez" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Tipo" labelPlacement="stacked" formControlName="tipo" placeholder="Seleccionar tipo">
          <ion-select-option *ngFor="let t of tipos" [value]="t.value">{{t.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Documento (DNI/CUIT)" labelPlacement="stacked" formControlName="documento" placeholder="Ej: 12345678"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="CUIL" labelPlacement="stacked" formControlName="cuil" placeholder="Ej: 20-12345678-9"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Teléfono" labelPlacement="stacked" formControlName="telefono" placeholder="Ej: 351 1234567"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input label="Email" labelPlacement="stacked" type="email" formControlName="email" placeholder="Ej: juan@email.com"></ion-input>
      </ion-item>
    </ion-list>

    <div class="error" *ngIf="error">
      <p>{{error}}</p>
    </div>
  </form>

  <div class="popup-actions">
    <ion-button fill="clear" (click)="cerrar()" class="cancel-btn">Cancelar</ion-button>
    <ion-button (click)="guardar()" [disabled]="loading" class="save-btn">
      <ion-spinner *ngIf="loading" name="crescent" slot="start"></ion-spinner>
      <span *ngIf="!loading">Guardar</span>
    </ion-button>
  </div>
</div>
