<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isEdit ? 'Editar' : 'Nuevo'}} Lote / Campaña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardar()" [disabled]="loading">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loteForm" class="form-container">
    <ion-list>
      <ion-item>
        <ion-select label="Campo" labelPlacement="stacked" formControlName="campo" [compareWith]="compararPorId" placeholder="Seleccionar campo">
          <ion-select-option *ngFor="let c of campos" [value]="c.id">{{c.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Campaña" labelPlacement="stacked" formControlName="campana" [compareWith]="compararPorId" placeholder="Seleccionar campaña">
          <ion-select-option *ngFor="let c of campanas" [value]="c.id">{{c.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Cultivo" labelPlacement="stacked" formControlName="cultivo" [compareWith]="compararPorId" placeholder="Seleccionar cultivo">
          <ion-select-option *ngFor="let c of cultivos" [value]="c.id">{{c.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Superficie (ha)" labelPlacement="stacked" type="number" formControlName="superficie" placeholder="Ej: 50"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Rendimiento Estimado (qq/ha)" labelPlacement="stacked" type="number" formControlName="rendimiento_estimado" placeholder="Ej: 35"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Precio Tonelada ($)" labelPlacement="stacked" type="number" formControlName="precio_tn" placeholder="Ej: 250000"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Tipo de Cambio ($)" labelPlacement="stacked" type="number" formControlName="tipo_cambio" placeholder="Ej: 1200"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Ubicación" labelPlacement="stacked" formControlName="ubicacion" placeholder="Ej: Lote Norte"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle labelPlacement="start" formControlName="activo">Activo</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-textarea label="Observaciones" labelPlacement="stacked" formControlName="observaciones" placeholder="Notas adicionales..." rows="4"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="error" *ngIf="error">
      <p>{{error}}</p>
    </div>

    <div class="form-actions">
      <ion-button expand="block" (click)="guardar()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        {{isEdit ? 'Actualizar' : 'Crear'}} Lote
      </ion-button>
      <ion-button expand="block" fill="clear" (click)="router.navigate(['/tabs/lotes'])">
        Cancelar
      </ion-button>
    </div>
  </form>
</ion-content>
