<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campos" href="/tabs/campos">
      <ion-icon aria-hidden="true" name="leaf"></ion-icon>
      <ion-label>Campos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lotes" href="/tabs/lotes">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>Lotes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="labores" href="/tabs/labores">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>Labores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logistica" href="/tabs/logistica">
      <ion-icon aria-hidden="true" name="truck"></ion-icon>
      <ion-label>Fletes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>